# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Node.JS
node_modules/
/package-lock.json

# JetBrain IDE
.idea/

# Development Things
public/
src/
.browserslistrc
.jshintrc
.eslintrc.js
babel.config.js
package.json
postcss.config.js
vue.config.js
