.card-image{
  width: 64px;
  height: 64px;
  margin: auto;
}

.card-image > img{
  max-width: 100%;
  max-height: 100%;
}

.card-input-amount{
  width: 90%;
}

.card-input-efficiency{
  width: 90%;
}

// Hiding and showing content in the toggle button based on collapse state
.collapsed > .when-opened,
:not(.collapsed) > .when-closed{
  display: none;
}
