// for Source Sans Pro
$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$headings-font-weight: $font-weight-semibold;

$card-deck-margin: 0.5rem;
$card-spacer-x: 0.5rem;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

#app {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.font-weight-semibold {
  font-weight: $font-weight-semibold !important; // for Source Sans Pro
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.in-text-image {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin: auto 0 auto 0.2rem;
}

.card-margin-fix {
  margin-bottom: $card-deck-margin;
}

$cards-per-line: (
  xs: 1,
  sm: 2,
  md: 3,
  lg: 4,
  xl: 5
);

.card-deck {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  // FIXME left align continued rows
  
  margin-right: -$card-deck-margin;
  margin-left: -$card-deck-margin;
  
  .card {;
    display: flex;
    // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
    flex: 1 0 0%;
    flex-direction: column;
    margin-right: $card-deck-margin;
    margin-bottom: $card-deck-margin;
    margin-left: $card-deck-margin;
  }
}

@each $name, $breakpoint in $grid-breakpoints {
  @media (min-width: $breakpoint) {
    .card-deck .card {
      flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
    }
  }
}

.card-image {
  width: 4rem;
  height: 4rem;
  margin: auto;
}

.card-image > img {
  max-width: 100%;
  max-height: 100%;
}

.card-input-amount {
  width: 90%;
}

.card-input-efficiency {
  width: 90%;
}

// Hiding and showing content in the toggle button based on collapse state
.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}
