// font for Source Sans Pro
$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 900;
// headers
$headings-font-weight: $font-weight-semibold;
// card
$card-deck-margin: 0.5rem;
$card-spacer-x: 0.5rem;
// enable responsive font sizes
$enable-responsive-font-sizes: true;

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';

#app {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin-top: 40px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-weight-semibold {
  font-weight: $font-weight-semibold !important;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.in-text-image {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  margin: auto 0 auto 0.2rem;
}

.card-margin-fix {
  margin-bottom: $card-deck-margin;
}

$cards-per-line: (
  xs: 1,
  sm: 2,
  md: 3,
  lg: 4,
  xl: 5
);

.card-deck {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  // FIXME left align continued rows
  margin-left: -$card-deck-margin;
  margin-right: -$card-deck-margin;
  
  .card {
    display: flex;
    // Flex bug #4: https://github.com/philipwalton/flexbugs#flexbug-4
    // noinspection CssRedundantUnit
    flex: 1 0 0%;
    flex-direction: column;
    margin-right: $card-deck-margin;
    margin-bottom: $card-deck-margin;
    margin-left: $card-deck-margin;
  }
}

@each $name, $breakpoint in $grid-breakpoints {
  @media (min-width: $breakpoint) {
    .card-deck .card {
      flex: 0 0 calc(#{100 / map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
    }
  }
}

.card-image {
  height: 4rem;
  width: 4rem;
  margin: auto;
}

.card-image > img {
  max-height: 100%;
  max-width: 100%;
}

.card-input-amount {
  width: 90%;
}

.card-input-efficiency {
  width: 90%;
}

// Hiding and showing content in the toggle button based on collapse state
.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}
